.white{
    color: white;
    font-weight: 900;
    text-shadow: 0px 0px 3px #000;
}
.quote-author{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s, visibility 0.4s;
    color: white;
    font-weight: 900;
    text-shadow: 0px 0px 3px #000;

}
.quote-wrap:hover .quote-author{
    visibility: visible;
    opacity: 1;
}
body{
    background-repeat: no-repeat !important;
    background-size: cover !important;
}